* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/*/////////////// Header/Navigation Styles //////////////*/

header {
    background-color: #172A3A;
    padding: 20px;
    width: 100%;

    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

.logo a {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
}

nav {
    flex: 1;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
    justify-content: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s, border-bottom 0.3s;
}

nav a:hover {
    color: #217A70;
    border-bottom: 2px solid #217A70;
    padding-bottom: 10px;
}

/* Responsive Header/Navigation Styles */

@media (max-width: 750px) {
    header {
        flex-direction: column;
    }

    .logo {
        margin-bottom: 10px;
        align-self: flex-start;
    }
}

@media (max-width: 450px) {
    nav ul {
        flex-direction: column;
        gap: 10px;
    }
}

/*/////////////// Section/Main content Styles //////////////*/
/*/////////////// Intro Section //////////////*/

.intro {
    background-color: #E8F1F5;
    width: 100%;
    padding: 50px 20px;
    display: flex;
    align-items: center;
}

.intro > * {
    width: 50%;
}

.intro-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 50px;
    border-right: 2px solid #b6bec4;
}

.intro-content h1 {
    font-size: 2.3rem;
    color: #172A3A;
    border-bottom: 2px solid #b6bec4;
    padding-bottom: 10px;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.links a {
    border: 2px solid #b6bec4;
    width: 50%;
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 2px;
}

.link1 {
    background-color: #32e3d2;
    border: 2px solid #b6bec4;
    transition: background-color 0.3s, border 0.3s;
}

.link2 {
    background-color: #44cec0;
    border: 2px solid #b6bec4;
    transition: background-color 0.3s, border 0.3s;
}

.link3 {
    background-color: #32ab9b;
    border: 2px solid #b6bec4;
    transition: background-color 0.3s, border 0.3s;
}

.link1:hover, .link2:hover, .link3:hover {
    color: #fff;
    border: 2px solid #217A70;
    background-color: #217A70;
}

/* responsive intro Style */

@media (max-width: 750px) {
    .intro {
        flex-direction: column;
        gap: 20px;
    }

    .intro > * {
        width: 100%;
    }

    .intro-content h1 {
        font-size: 2rem;
    }

    .links a {
        width: 80%;
    }

    .intro-content {
        border-right: none;
        border-bottom: 2px solid #b6bec4;
        padding-bottom: 20px;
    }
}

@media (max-width: 450px) {
    .intro-content h1 {
        font-size: 1.7rem;
    }
}

/*/////////////// Image Section Styles //////////////*/

.img-section {
    background-color: #f0f5f9;
    width: 100%;
    padding: 50px 20px;
    display: flex;
    align-items: center;
}

.img-section > * {
    width: 50%;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    max-width: 50%;
    height: auto;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 50px;
    border-left: 2px solid #b6bec4;
    color: #172A3A;

}

.second-section {
    border-left: none;
    border-right: 2px solid #b6bec4;
}

.main-content h2 {
    font-size: 2rem;
    color: #172A3A;
    border-bottom: 2px solid #b6bec4;
    padding-bottom: 10px;
}

/* responsive image section Style */

@media (max-width: 1000px) {
    .image {
        flex: 1;
    }

    .main-content {
        flex: 2;
    }
}

@media (max-width: 750px) {
    .img-section {
        flex-direction: column;
        gap: 20px;
    }
    
    .main-content {
        border-left: none;
        border-right: none;
        width: 100%;
        align-items: center;
    }

    .second-img-section {
        flex-direction: column-reverse;
    }

    .main-content h2 {
        font-size: 1.7rem;
    }
}

@media (max-width: 450px) {
    .main-content h2 {
        font-size: 1.5rem;
    }
}

/*/////////////// Card Styles //////////////*/

.card-container {
    background-color: #E8F1F5;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 3% 3%;
}

.card {
    flex: 1;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;

    display: flex;
    align-items: center;
    gap: 20px;
}

.card img {
    max-width: 40%;
    height: auto;
}

.card p {
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    padding: 0 15px;
    border-left: 2px solid #b6bec4;
}

/* responsive card section Style */

@media (max-width: 1000px) {
    .card-container {
        flex-direction: column;
        gap: 20px;
    }

    .card img {
        width: 10%;
    }
}

@media (max-width: 500px) {
    .card {
        flex-direction: column;
        text-align: center;
    }

    .card p {
        border-left: none;
        border-top: 2px solid #b6bec4;
        padding: 15px 0 0 0;
    }

    .card img {
        width: 20%;
    }
}

/*/////////////// Footer Styles //////////////*/

footer {
    background-color: #172A3A;
    padding: 20px;
    width: 100%;
    color: #fff;
    text-align: center;
}